In [32]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [63]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructType, IntegerType, DateType, StructField

In [64]:
csv_path = '.'

In [65]:
spark = SparkSession.builder \
    .appName("spark_first") \
    .getOrCreate()

In [66]:
df = spark.read\
.option("header", "true") \
.option("sep", ",") \
.option("dateFormat", "y") \
.option("inferSchema", "true") \
.csv(f"{csv_path}/movies.csv")

In [67]:
df.show(10,truncate=False )

+----------------------------------+---------+---------------------+----------------+-------------+-----------------+---------------+----+
|Film                              |Genre    |Lead Studio          |Audience score %|Profitability|Rotten Tomatoes %|Worldwide Gross|Year|
+----------------------------------+---------+---------------------+----------------+-------------+-----------------+---------------+----+
|Zack and Miri Make a Porno        |Romance  |The Weinstein Company|70              |1.747541667  |64               |$41.94         |2008|
|Youth in Revolt                   |Comedy   |The Weinstein Company|52              |1.09         |68               |$19.62         |2010|
|You Will Meet a Tall Dark Stranger|Comedy   |Independent          |35              |1.211818182  |43               |$26.66         |2010|
|When in Rome                      |Comedy   |Disney               |44              |0.0          |15               |$43.04         |2010|
|What Happens in Vegas             |Comedy   |Fox                  |72              |6.267647029  |28               |$219.37        |2008|
|Water For Elephants               |Drama    |20th Century Fox     |72              |3.081421053  |60               |$117.09        |2011|
|WALL-E                            |Animation|Disney               |89              |2.896019067  |96               |$521.28        |2008|
|Waitress                          |Romance  |Independent          |67              |11.0897415   |89               |$22.18         |2007|
|Waiting For Forever               |Romance  |Independent          |53              |0.005        |6                |$0.03          |2011|
|Valentine's Day                   |Comedy   |Warner Bros.         |54              |4.184038462  |17               |$217.57        |2010|
+----------------------------------+---------+---------------------+----------------+-------------+-----------------+---------------+----+
only showing top 10 rows

In [68]:
import pyspark.sql.functions as F

In [69]:
df = df.select('Film')\
.withColumn('word', F.split(F.col('Film'),' '))\
.withColumn('word',F.explode(col='word'))

In [74]:
result = df.groupBy('word').\
  count().sort('count', ascending=False)

In [75]:
result.show()

+--------+-----+
|    word|count|
+--------+-----+
|     and|    9|
|     The|    9|
|      of|    6|
|     the|    5|
|      in|    4|
|    Love|    4|
|     You|    4|
|  Juliet|    3|
|       I|    3|
|     Day|    3|
|       a|    3|
|     Sex|    3|
|    City|    3|
| Married|    2|
|      Me|    2|
|     For|    2|
|Twilight|    2|
|     New|    2|
|   Mamma|    2|
|  Gnomeo|    2|
+--------+-----+
only showing top 20 rows