###  собрать всю информацию по каждому пользователю в отдельной
витрине, а также на основе имеющихся данных посчитать:
 количество покупок,
 количество потраченных средств,
 средний рейтинг по продукту,
 наивысший продукт по рейтингу,
 самый популярный тип продукта,
 количество отзывов.

In [207]:
import pandas as pd
import os
csv_folder = './src'

In [208]:
contact_preference = pd.read_csv(os.path.join(csv_folder,'contact_preference.csv'),sep=';')
customer_preferenced_contact_type = pd.read_csv(os.path.join(csv_folder,'customer_preferenced_contact_type.csv'),sep=';')
customer = pd.read_csv(os.path.join(csv_folder,'customer.csv'),sep=';')
customers_segments = pd.read_csv(os.path.join(csv_folder,'customers_segmetns.csv'),sep=';')
location = pd.read_csv(os.path.join(csv_folder,'location.csv'),sep=';')
product_feedback = pd.read_csv(os.path.join(csv_folder,'product_feedback.csv'),sep=';')
product = pd.read_csv(os.path.join(csv_folder,'product.csv'),sep=';')
purchase = pd.read_csv(os.path.join(csv_folder,'purchase.csv'),sep=';')
segment = pd.read_csv(os.path.join(csv_folder,'segment.csv'),sep=';')
service_feedback = pd.read_csv(os.path.join(csv_folder,'service_feedback.csv'),sep=';')

In [209]:
df = pd.merge(customer, customers_segments, left_on='id', right_on='customer_id', how='left')
df = pd.merge(df, customer_preferenced_contact_type, on='customer_id', how='left')
df = pd.merge(df, location, on='location_id', how='left')
df = pd.merge(df, purchase, left_on='id', right_on='user_id', how='left')
df = pd.merge(df, product, left_on='product_id', right_on='id', how='left')
df = pd.merge(df, product_feedback, left_on='id_y', right_on='purchase_id', how='left',  suffixes=('_1', '_2'))  # Здесь используйте нужный вам ключ

df = pd.merge(df, service_feedback, left_on='customer_id', right_on='customer_id', how='left')
# print(df.head())

# Добавьте дополнительное объединение с contact_preference, если это необходимо
# df = pd.merge(df, customer_preferenced_contact_type, on='customer_id', how='left')
df = pd.merge(df, contact_preference, left_on='contact_type_id', right_on='contact_id', how='left')

# Удаляем временные столбцы, если необходимо
df.drop(columns=['id_x', 'location_id', 'customer_id', 'segment_id', 'contact_type_id', 'contact_id' ,'id' ,'id_1', 'id_2' ,'product_id', 'user_id', 'id_y', 'purchase_id'], inplace=True)
df.drop_duplicates()
df = df.drop(columns=['rating_y'])  # Удаляем столбец rating_y
df.rename(columns={'rating_x': 'customer_rating', 'rating_y': 'product_rating'}, inplace=True)
# Проверка на пустые значения

# Печатаем результат
print(df.head(5))

    name              email registration_date location_name purchase_date  \
0  Alice  alice@example.com        2023-01-15      New York    2024-01-28
1  Alice  alice@example.com        2023-01-15      New York    2024-01-22
2  Alice  alice@example.com        2023-01-15      New York    2024-01-12
3  Alice  alice@example.com        2023-01-15      New York    2024-01-20
4  Alice  alice@example.com        2023-01-15      New York    2023-09-11

   quantity              product_name category_name  price  customer_rating  \
0       1.0                   Journey         Games  14.99              5.0
1       1.0              Call of Duty         Games  59.99              8.0
2       1.0            The Art of War         Books   7.99              9.0
3       1.0                Life of Pi         Books  10.99             10.0
4       2.0  The Shawshank Redemption        Movies  14.99              6.0

                            review  \
0  Quality is lower than expected.
1        Very happy with my order!
2       Great quality and service!
3               Love this product!
4               Quality is subpar.

                                      comment contact_type
0  Satisfactory service, nothing exceptional.        Email
1  Satisfactory service, nothing exceptional.        Email
2  Satisfactory service, nothing exceptional.        Email
3  Satisfactory service, nothing exceptional.        Email
4  Satisfactory service, nothing exceptional.        Email

In [210]:
customer_preferenced_contact_type.head()

   customer_id  contact_type_id
0            1                1
1            1                3
2            1                4
3            2                2
4            2                5

In [211]:
purchase.head()

          id  user_id  product_id purchase_date  quantity
0  293813371       19         104    2024-02-09         2
1  696524227       49          90    2023-06-30         1
2   14417739       30          20    2023-09-28         1
3  539614646       45         141    2023-04-25         2
4  691165168       40          25    2023-10-26         2

In [212]:
import os
import pandas as pd

# Укажите путь к папке с CSV-файлами
csv_folder = './src'

# Словарь для хранения DataFrames
all_dataframes = {}

# Загрузка всех CSV-файлов
for filename in os.listdir(csv_folder):
    if filename.endswith('.csv'):
        file_path = os.path.join(csv_folder, filename)
        df_name = os.path.splitext(filename)[0]  # Имя DataFrame без расширения
        all_dataframes[df_name] = pd.read_csv(file_path, sep=';')

# Просмотр заголовков и первых строк каждого DataFrame
def show_frames(dataframes, samples = 5):
    for df_name, df in dataframes.items():
        print(f"\nDataFrame: {df_name}")
        print("Columns:", df.columns.tolist())
        print("First 5 rows:\n", df.head(samples))
show_frames(all_dataframes)
# Соединяем customer с purchase

DataFrame: contact_preference
Columns: ['contact_id', 'contact_type']
First 5 rows:
    contact_id        contact_type
0           1               Email
1           2               Phone
2           3                 SMS
3           4        Social Media
4           5  Push Notifications

DataFrame: customer
Columns: ['id', 'name', 'email', 'location_id', 'registration_date']
First 5 rows:
    id     name                email  location_id registration_date
0   1    Alice    alice@example.com            1        2023-01-15
1   2      Bob      bob@example.com            2        2023-02-20
2   3  Charlie  charlie@example.com            3        2023-03-10
3   4    David    david@example.com            4        2023-04-25
4   5      Eva      eva@example.com            5        2023-05-30

DataFrame: customers_segmetns
Columns: ['customer_id', 'segment_id']
First 5 rows:
    customer_id  segment_id
0            1           2
1            2           3
2            3           2
3            4           1
4            5           1

DataFrame: customer_preferenced_contact_type
Columns: ['customer_id', 'contact_type_id']
First 5 rows:
    customer_id  contact_type_id
0            1                1
1            1                3
2            1                4
3            2                2
4            2                5

DataFrame: location
Columns: ['location_id', 'location_name']
First 5 rows:
    location_id  location_name
0            1       New York
1            2  San Francisco
2            3    Los Angeles
3            4        Chicago
4            5        Houston

DataFrame: product
Columns: ['id', 'product_name', 'category_name', 'price']
First 5 rows:
    id            product_name category_name  price
0   1        The Great Gatsby         Books  10.99
1   2                    1984         Books   9.99
2   3  The Catcher in the Rye         Books   8.99
3   4   To Kill a Mockingbird         Books  12.99
4   5     Pride and Prejudice         Books  11.49

DataFrame: product_feedback
Columns: ['id', 'purchase_id', 'rating', 'review']
First 5 rows:
    id  purchase_id  rating                                 review
0   1  293813371.0       9                     Excellent service!
1   2  696524227.0       8       Everything was great, thank you!
2   3   14417739.0      10          Outstanding customer service!
3   5  691165168.0       6  Quality did not meet my expectations.
4   6  633302470.0       5                    Average experience.

DataFrame: purchase
Columns: ['id', 'user_id', 'product_id', 'purchase_date', 'quantity']
First 5 rows:
           id  user_id  product_id purchase_date  quantity
0  293813371       19         104    2024-02-09         2
1  696524227       49          90    2023-06-30         1
2   14417739       30          20    2023-09-28         1
3  539614646       45         141    2023-04-25         2
4  691165168       40          25    2023-10-26         2

DataFrame: segment
Columns: ['id', 'segment_name', 'discount']
First 5 rows:
    id segment_name  discount
0   1          New         2
1   2      Regular         3
2   3        Loyal         4
3   4          VIP         5
4   5     Employer         4

DataFrame: service_feedback
Columns: ['id', 'customer_id', 'rating', 'comment']
First 5 rows:
    id  customer_id  rating                                 comment
0   1            5       9  Excellent service, very helpful staff!
1   2           12       7      Good service, but could be faster.
2   3            3      10        Absolutely fantastic experience!
3   4           25       8     Satisfied overall, would recommend.
4   5           19       6      Service was okay, nothing special.

In [213]:
splitted_dataframes = dict.copy(all_dataframes)
def frames_merge(main_dataframe, key1, key2, left_on:list, right_on:list, new_key:list) -> dict:
    """
    Функция для объединения двух датафреймов и обновления словаря с таблицами.

    Args:
        splitted_dataframes (dict): Словарь с DataFrame-ами.
        key1 (str): Ключ первого DataFrame в словаре.
        key2 (str): Ключ второго DataFrame в словаре.
        left_on (str): Поле для соединения из первого DataFrame.
        right_on (str): Поле для соединения из второго DataFrame.
        new_key (str): Ключ для нового DataFrame после объединения.

    Returns:
        dict: Обновленный словарь с DataFrame-ами.
    """
    # Объединение двух датафреймов
    merged_df = main_dataframe[key1].join(main_dataframe[key2].set_index(right_on), on=left_on, how='left')

    
    # Удаление старых датафреймов из словаря
    main_dataframe.pop(key1)
    main_dataframe.pop(key2)
    
    # Добавление нового объединенного датафрейма в словарь
    main_dataframe[new_key] = merged_df
    
    return main_dataframe

In [214]:
customers_segments = frames_merge(splitted_dataframes, 'customers_segmetns', 'segment', 'segment_id', 'id', 'customers_segmetns')
show_frames(splitted_dataframes)

DataFrame: contact_preference
Columns: ['contact_id', 'contact_type']
First 5 rows:
    contact_id        contact_type
0           1               Email
1           2               Phone
2           3                 SMS
3           4        Social Media
4           5  Push Notifications

DataFrame: customer
Columns: ['id', 'name', 'email', 'location_id', 'registration_date']
First 5 rows:
    id     name                email  location_id registration_date
0   1    Alice    alice@example.com            1        2023-01-15
1   2      Bob      bob@example.com            2        2023-02-20
2   3  Charlie  charlie@example.com            3        2023-03-10
3   4    David    david@example.com            4        2023-04-25
4   5      Eva      eva@example.com            5        2023-05-30

DataFrame: customer_preferenced_contact_type
Columns: ['customer_id', 'contact_type_id']
First 5 rows:
    customer_id  contact_type_id
0            1                1
1            1                3
2            1                4
3            2                2
4            2                5

DataFrame: location
Columns: ['location_id', 'location_name']
First 5 rows:
    location_id  location_name
0            1       New York
1            2  San Francisco
2            3    Los Angeles
3            4        Chicago
4            5        Houston

DataFrame: product
Columns: ['id', 'product_name', 'category_name', 'price']
First 5 rows:
    id            product_name category_name  price
0   1        The Great Gatsby         Books  10.99
1   2                    1984         Books   9.99
2   3  The Catcher in the Rye         Books   8.99
3   4   To Kill a Mockingbird         Books  12.99
4   5     Pride and Prejudice         Books  11.49

DataFrame: product_feedback
Columns: ['id', 'purchase_id', 'rating', 'review']
First 5 rows:
    id  purchase_id  rating                                 review
0   1  293813371.0       9                     Excellent service!
1   2  696524227.0       8       Everything was great, thank you!
2   3   14417739.0      10          Outstanding customer service!
3   5  691165168.0       6  Quality did not meet my expectations.
4   6  633302470.0       5                    Average experience.

DataFrame: purchase
Columns: ['id', 'user_id', 'product_id', 'purchase_date', 'quantity']
First 5 rows:
           id  user_id  product_id purchase_date  quantity
0  293813371       19         104    2024-02-09         2
1  696524227       49          90    2023-06-30         1
2   14417739       30          20    2023-09-28         1
3  539614646       45         141    2023-04-25         2
4  691165168       40          25    2023-10-26         2

DataFrame: service_feedback
Columns: ['id', 'customer_id', 'rating', 'comment']
First 5 rows:
    id  customer_id  rating                                 comment
0   1            5       9  Excellent service, very helpful staff!
1   2           12       7      Good service, but could be faster.
2   3            3      10        Absolutely fantastic experience!
3   4           25       8     Satisfied overall, would recommend.
4   5           19       6      Service was okay, nothing special.

DataFrame: customers_segmetns
Columns: ['customer_id', 'segment_id', 'segment_name', 'discount']
First 5 rows:
    customer_id  segment_id segment_name  discount
0            1           2      Regular         3
1            2           3        Loyal         4
2            3           2      Regular         3
3            4           1          New         2
4            5           1          New         2

In [215]:
customer_preferenced_contact_type = frames_merge(splitted_dataframes, 'customer_preferenced_contact_type', 'contact_preference', 'contact_type_id', 'contact_id', 'customer_preferenced_contact_type')

show_frames(splitted_dataframes)

DataFrame: customer
Columns: ['id', 'name', 'email', 'location_id', 'registration_date']
First 5 rows:
    id     name                email  location_id registration_date
0   1    Alice    alice@example.com            1        2023-01-15
1   2      Bob      bob@example.com            2        2023-02-20
2   3  Charlie  charlie@example.com            3        2023-03-10
3   4    David    david@example.com            4        2023-04-25
4   5      Eva      eva@example.com            5        2023-05-30

DataFrame: location
Columns: ['location_id', 'location_name']
First 5 rows:
    location_id  location_name
0            1       New York
1            2  San Francisco
2            3    Los Angeles
3            4        Chicago
4            5        Houston

DataFrame: product
Columns: ['id', 'product_name', 'category_name', 'price']
First 5 rows:
    id            product_name category_name  price
0   1        The Great Gatsby         Books  10.99
1   2                    1984         Books   9.99
2   3  The Catcher in the Rye         Books   8.99
3   4   To Kill a Mockingbird         Books  12.99
4   5     Pride and Prejudice         Books  11.49

DataFrame: product_feedback
Columns: ['id', 'purchase_id', 'rating', 'review']
First 5 rows:
    id  purchase_id  rating                                 review
0   1  293813371.0       9                     Excellent service!
1   2  696524227.0       8       Everything was great, thank you!
2   3   14417739.0      10          Outstanding customer service!
3   5  691165168.0       6  Quality did not meet my expectations.
4   6  633302470.0       5                    Average experience.

DataFrame: purchase
Columns: ['id', 'user_id', 'product_id', 'purchase_date', 'quantity']
First 5 rows:
           id  user_id  product_id purchase_date  quantity
0  293813371       19         104    2024-02-09         2
1  696524227       49          90    2023-06-30         1
2   14417739       30          20    2023-09-28         1
3  539614646       45         141    2023-04-25         2
4  691165168       40          25    2023-10-26         2

DataFrame: service_feedback
Columns: ['id', 'customer_id', 'rating', 'comment']
First 5 rows:
    id  customer_id  rating                                 comment
0   1            5       9  Excellent service, very helpful staff!
1   2           12       7      Good service, but could be faster.
2   3            3      10        Absolutely fantastic experience!
3   4           25       8     Satisfied overall, would recommend.
4   5           19       6      Service was okay, nothing special.

DataFrame: customers_segmetns
Columns: ['customer_id', 'segment_id', 'segment_name', 'discount']
First 5 rows:
    customer_id  segment_id segment_name  discount
0            1           2      Regular         3
1            2           3        Loyal         4
2            3           2      Regular         3
3            4           1          New         2
4            5           1          New         2

DataFrame: customer_preferenced_contact_type
Columns: ['customer_id', 'contact_type_id', 'contact_type']
First 5 rows:
    customer_id  contact_type_id        contact_type
0            1                1               Email
1            1                3                 SMS
2            1                4        Social Media
3            2                2               Phone
4            2                5  Push Notifications

In [216]:
customer = frames_merge(splitted_dataframes, 'customer', 'location', 'location_id', 'location_id', 'customer')

show_frames(splitted_dataframes,samples=6)

DataFrame: product
Columns: ['id', 'product_name', 'category_name', 'price']
First 5 rows:
    id            product_name category_name  price
0   1        The Great Gatsby         Books  10.99
1   2                    1984         Books   9.99
2   3  The Catcher in the Rye         Books   8.99
3   4   To Kill a Mockingbird         Books  12.99
4   5     Pride and Prejudice         Books  11.49
5   6               Moby Dick         Books  14.99

DataFrame: product_feedback
Columns: ['id', 'purchase_id', 'rating', 'review']
First 5 rows:
    id  purchase_id  rating                                 review
0   1  293813371.0       9                     Excellent service!
1   2  696524227.0       8       Everything was great, thank you!
2   3   14417739.0      10          Outstanding customer service!
3   5  691165168.0       6  Quality did not meet my expectations.
4   6  633302470.0       5                    Average experience.
5   7  727560573.0       9              Really loved the product!

DataFrame: purchase
Columns: ['id', 'user_id', 'product_id', 'purchase_date', 'quantity']
First 5 rows:
           id  user_id  product_id purchase_date  quantity
0  293813371       19         104    2024-02-09         2
1  696524227       49          90    2023-06-30         1
2   14417739       30          20    2023-09-28         1
3  539614646       45         141    2023-04-25         2
4  691165168       40          25    2023-10-26         2
5  633302470        8          92    2023-09-15         1

DataFrame: service_feedback
Columns: ['id', 'customer_id', 'rating', 'comment']
First 5 rows:
    id  customer_id  rating                                 comment
0   1            5       9  Excellent service, very helpful staff!
1   2           12       7      Good service, but could be faster.
2   3            3      10        Absolutely fantastic experience!
3   4           25       8     Satisfied overall, would recommend.
4   5           19       6      Service was okay, nothing special.
5   6           34      10    Outstanding service, very impressed!

DataFrame: customers_segmetns
Columns: ['customer_id', 'segment_id', 'segment_name', 'discount']
First 5 rows:
    customer_id  segment_id segment_name  discount
0            1           2      Regular         3
1            2           3        Loyal         4
2            3           2      Regular         3
3            4           1          New         2
4            5           1          New         2
5            6           5     Employer         4

DataFrame: customer_preferenced_contact_type
Columns: ['customer_id', 'contact_type_id', 'contact_type']
First 5 rows:
    customer_id  contact_type_id        contact_type
0            1                1               Email
1            1                3                 SMS
2            1                4        Social Media
3            2                2               Phone
4            2                5  Push Notifications
5            3                1               Email

DataFrame: customer
Columns: ['id', 'name', 'email', 'location_id', 'registration_date', 'location_name']
First 5 rows:
    id     name                email  location_id registration_date  \
0   1    Alice    alice@example.com            1        2023-01-15
1   2      Bob      bob@example.com            2        2023-02-20
2   3  Charlie  charlie@example.com            3        2023-03-10
3   4    David    david@example.com            4        2023-04-25
4   5      Eva      eva@example.com            5        2023-05-30
5   6    Frank    frank@example.com            6        2023-06-01

   location_name
0       New York
1  San Francisco
2    Los Angeles
3        Chicago
4        Houston
5          Miami

In [217]:
purchase = frames_merge(splitted_dataframes, 'purchase', 'product', 'product_id', 'id', 'purchase')

show_frames(splitted_dataframes,samples=6)

DataFrame: product_feedback
Columns: ['id', 'purchase_id', 'rating', 'review']
First 5 rows:
    id  purchase_id  rating                                 review
0   1  293813371.0       9                     Excellent service!
1   2  696524227.0       8       Everything was great, thank you!
2   3   14417739.0      10          Outstanding customer service!
3   5  691165168.0       6  Quality did not meet my expectations.
4   6  633302470.0       5                    Average experience.
5   7  727560573.0       9              Really loved the product!

DataFrame: service_feedback
Columns: ['id', 'customer_id', 'rating', 'comment']
First 5 rows:
    id  customer_id  rating                                 comment
0   1            5       9  Excellent service, very helpful staff!
1   2           12       7      Good service, but could be faster.
2   3            3      10        Absolutely fantastic experience!
3   4           25       8     Satisfied overall, would recommend.
4   5           19       6      Service was okay, nothing special.
5   6           34      10    Outstanding service, very impressed!

DataFrame: customers_segmetns
Columns: ['customer_id', 'segment_id', 'segment_name', 'discount']
First 5 rows:
    customer_id  segment_id segment_name  discount
0            1           2      Regular         3
1            2           3        Loyal         4
2            3           2      Regular         3
3            4           1          New         2
4            5           1          New         2
5            6           5     Employer         4

DataFrame: customer_preferenced_contact_type
Columns: ['customer_id', 'contact_type_id', 'contact_type']
First 5 rows:
    customer_id  contact_type_id        contact_type
0            1                1               Email
1            1                3                 SMS
2            1                4        Social Media
3            2                2               Phone
4            2                5  Push Notifications
5            3                1               Email

DataFrame: customer
Columns: ['id', 'name', 'email', 'location_id', 'registration_date', 'location_name']
First 5 rows:
    id     name                email  location_id registration_date  \
0   1    Alice    alice@example.com            1        2023-01-15
1   2      Bob      bob@example.com            2        2023-02-20
2   3  Charlie  charlie@example.com            3        2023-03-10
3   4    David    david@example.com            4        2023-04-25
4   5      Eva      eva@example.com            5        2023-05-30
5   6    Frank    frank@example.com            6        2023-06-01

   location_name
0       New York
1  San Francisco
2    Los Angeles
3        Chicago
4        Houston
5          Miami

DataFrame: purchase
Columns: ['id', 'user_id', 'product_id', 'purchase_date', 'quantity', 'product_name', 'category_name', 'price']
First 5 rows:
           id  user_id  product_id purchase_date  quantity  \
0  293813371       19         104    2024-02-09         2
1  696524227       49          90    2023-06-30         1
2   14417739       30          20    2023-09-28         1
3  539614646       45         141    2023-04-25         2
4  691165168       40          25    2023-10-26         2
5  633302470        8          92    2023-09-15         1

                            product_name category_name  price
0                           Finding Nemo        Movies   9.99
1                          Borderlands 3         Games  59.99
2                           The Bell Jar         Books   9.99
3                         A Star Is Born        Movies  14.99
4  Harry Potter and the Sorcerer's Stone         Books  12.99
5                       Dead by Daylight         Games  29.99

In [218]:
splitted_dataframes['customers_segmetns'].drop('segment_id', axis=1, inplace=True)
splitted_dataframes['customer_preferenced_contact_type'].drop('contact_type_id', axis=1, inplace=True)
splitted_dataframes['customer'].drop('location_id', axis=1, inplace=True)
splitted_dataframes['purchase'].drop('product_id', axis=1, inplace=True)

show_frames(splitted_dataframes,samples=10)

DataFrame: product_feedback
Columns: ['id', 'purchase_id', 'rating', 'review']
First 5 rows:
    id  purchase_id  rating                                 review
0   1  293813371.0       9                     Excellent service!
1   2  696524227.0       8       Everything was great, thank you!
2   3   14417739.0      10          Outstanding customer service!
3   5  691165168.0       6  Quality did not meet my expectations.
4   6  633302470.0       5                    Average experience.
5   7  727560573.0       9              Really loved the product!
6   9    9627136.0      10               Best purchase I’ve made!
7  11  536015025.0       8            Would recommend to friends.
8  12  386075240.0       7    Fast shipping, but item was flawed.
9  13  203222787.0       9           Satisfied with the purchase!

DataFrame: service_feedback
Columns: ['id', 'customer_id', 'rating', 'comment']
First 5 rows:
    id  customer_id  rating                                  comment
0   1            5       9   Excellent service, very helpful staff!
1   2           12       7       Good service, but could be faster.
2   3            3      10         Absolutely fantastic experience!
3   4           25       8      Satisfied overall, would recommend.
4   5           19       6       Service was okay, nothing special.
5   6           34      10     Outstanding service, very impressed!
6   7            2       5          Disappointed, had a few issues.
7   8           17       9  Very pleased with the customer support.
8   9            8       8  Good service, happy with my experience.
9  10           50      10         Best service I've ever received!

DataFrame: customers_segmetns
Columns: ['customer_id', 'segment_name', 'discount']
First 5 rows:
    customer_id segment_name  discount
0            1      Regular         3
1            2        Loyal         4
2            3      Regular         3
3            4          New         2
4            5          New         2
5            6     Employer         4
6            7          New         2
7            8          New         2
8            9          New         2
9           10          New         2

DataFrame: customer_preferenced_contact_type
Columns: ['customer_id', 'contact_type']
First 5 rows:
    customer_id        contact_type
0            1               Email
1            1                 SMS
2            1        Social Media
3            2               Phone
4            2  Push Notifications
5            3               Email
6            3               Phone
7            3    In-App Messaging
8            4                 SMS
9            5               Email

DataFrame: customer
Columns: ['id', 'name', 'email', 'registration_date', 'location_name']
First 5 rows:
    id     name                email registration_date  location_name
0   1    Alice    alice@example.com        2023-01-15       New York
1   2      Bob      bob@example.com        2023-02-20  San Francisco
2   3  Charlie  charlie@example.com        2023-03-10    Los Angeles
3   4    David    david@example.com        2023-04-25        Chicago
4   5      Eva      eva@example.com        2023-05-30        Houston
5   6    Frank    frank@example.com        2023-06-01          Miami
6   7    Grace    grace@example.com        2023-06-15        Seattle
7   8    Henry    henry@example.com        2023-06-30         Boston
8   9      Ivy      ivy@example.com        2023-07-10        Atlanta
9  10     Jack     jack@example.com        2023-07-25         Denver

DataFrame: purchase
Columns: ['id', 'user_id', 'purchase_date', 'quantity', 'product_name', 'category_name', 'price']
First 5 rows:
           id  user_id purchase_date  quantity  \
0  293813371       19    2024-02-09         2
1  696524227       49    2023-06-30         1
2   14417739       30    2023-09-28         1
3  539614646       45    2023-04-25         2
4  691165168       40    2023-10-26         2
5  633302470        8    2023-09-15         1
6  727560573        9    2023-08-30         2
7  683861597       47    2024-01-11         2
8    9627136        2    2024-01-19         2
9  227811136       22    2023-11-02         2

                            product_name category_name  price
0                           Finding Nemo        Movies   9.99
1                          Borderlands 3         Games  59.99
2                           The Bell Jar         Books   9.99
3                         A Star Is Born        Movies  14.99
4  Harry Potter and the Sorcerer's Stone         Books  12.99
5                       Dead by Daylight         Games  29.99
6                               Tekken 7         Games  29.99
7                      The Little Prince         Books   7.99
8                The Wolf of Wall Street        Movies  14.99
9                             Fight Club        Movies  12.99

In [219]:
service_feedback = frames_merge(splitted_dataframes, 'service_feedback', 'customer_preferenced_contact_type', 'customer_id', 'customer_id', 'service_feedback')

show_frames(splitted_dataframes,samples=6)

DataFrame: product_feedback
Columns: ['id', 'purchase_id', 'rating', 'review']
First 5 rows:
    id  purchase_id  rating                                 review
0   1  293813371.0       9                     Excellent service!
1   2  696524227.0       8       Everything was great, thank you!
2   3   14417739.0      10          Outstanding customer service!
3   5  691165168.0       6  Quality did not meet my expectations.
4   6  633302470.0       5                    Average experience.
5   7  727560573.0       9              Really loved the product!

DataFrame: customers_segmetns
Columns: ['customer_id', 'segment_name', 'discount']
First 5 rows:
    customer_id segment_name  discount
0            1      Regular         3
1            2        Loyal         4
2            3      Regular         3
3            4          New         2
4            5          New         2
5            6     Employer         4

DataFrame: customer
Columns: ['id', 'name', 'email', 'registration_date', 'location_name']
First 5 rows:
    id     name                email registration_date  location_name
0   1    Alice    alice@example.com        2023-01-15       New York
1   2      Bob      bob@example.com        2023-02-20  San Francisco
2   3  Charlie  charlie@example.com        2023-03-10    Los Angeles
3   4    David    david@example.com        2023-04-25        Chicago
4   5      Eva      eva@example.com        2023-05-30        Houston
5   6    Frank    frank@example.com        2023-06-01          Miami

DataFrame: purchase
Columns: ['id', 'user_id', 'purchase_date', 'quantity', 'product_name', 'category_name', 'price']
First 5 rows:
           id  user_id purchase_date  quantity  \
0  293813371       19    2024-02-09         2
1  696524227       49    2023-06-30         1
2   14417739       30    2023-09-28         1
3  539614646       45    2023-04-25         2
4  691165168       40    2023-10-26         2
5  633302470        8    2023-09-15         1

                            product_name category_name  price
0                           Finding Nemo        Movies   9.99
1                          Borderlands 3         Games  59.99
2                           The Bell Jar         Books   9.99
3                         A Star Is Born        Movies  14.99
4  Harry Potter and the Sorcerer's Stone         Books  12.99
5                       Dead by Daylight         Games  29.99

DataFrame: service_feedback
Columns: ['id', 'customer_id', 'rating', 'comment', 'contact_type']
First 5 rows:
    id  customer_id  rating                                 comment  \
0   1            5       9  Excellent service, very helpful staff!
0   1            5       9  Excellent service, very helpful staff!
0   1            5       9  Excellent service, very helpful staff!
0   1            5       9  Excellent service, very helpful staff!
0   1            5       9  Excellent service, very helpful staff!
1   2           12       7      Good service, but could be faster.

         contact_type
0               Email
0               Phone
0                 SMS
0        Social Media
0  Push Notifications
1               Phone

In [220]:
service_feedback = frames_merge(splitted_dataframes, 'service_feedback', 'customers_segmetns', 'customer_id', 'customer_id', 'service_feedback')
service_feedback['service_feedback'] = service_feedback['service_feedback'].groupby(['id', 'customer_id', 'rating', 'comment', 'segment_name', 'discount'], as_index=False).agg({
    'contact_type': ', '.join }) # Объединяем контактные типы в одну строку, разделяя запятой
show_frames(splitted_dataframes,samples=6)

DataFrame: product_feedback
Columns: ['id', 'purchase_id', 'rating', 'review']
First 5 rows:
    id  purchase_id  rating                                 review
0   1  293813371.0       9                     Excellent service!
1   2  696524227.0       8       Everything was great, thank you!
2   3   14417739.0      10          Outstanding customer service!
3   5  691165168.0       6  Quality did not meet my expectations.
4   6  633302470.0       5                    Average experience.
5   7  727560573.0       9              Really loved the product!

DataFrame: customer
Columns: ['id', 'name', 'email', 'registration_date', 'location_name']
First 5 rows:
    id     name                email registration_date  location_name
0   1    Alice    alice@example.com        2023-01-15       New York
1   2      Bob      bob@example.com        2023-02-20  San Francisco
2   3  Charlie  charlie@example.com        2023-03-10    Los Angeles
3   4    David    david@example.com        2023-04-25        Chicago
4   5      Eva      eva@example.com        2023-05-30        Houston
5   6    Frank    frank@example.com        2023-06-01          Miami

DataFrame: purchase
Columns: ['id', 'user_id', 'purchase_date', 'quantity', 'product_name', 'category_name', 'price']
First 5 rows:
           id  user_id purchase_date  quantity  \
0  293813371       19    2024-02-09         2
1  696524227       49    2023-06-30         1
2   14417739       30    2023-09-28         1
3  539614646       45    2023-04-25         2
4  691165168       40    2023-10-26         2
5  633302470        8    2023-09-15         1

                            product_name category_name  price
0                           Finding Nemo        Movies   9.99
1                          Borderlands 3         Games  59.99
2                           The Bell Jar         Books   9.99
3                         A Star Is Born        Movies  14.99
4  Harry Potter and the Sorcerer's Stone         Books  12.99
5                       Dead by Daylight         Games  29.99

DataFrame: service_feedback
Columns: ['id', 'customer_id', 'rating', 'comment', 'segment_name', 'discount', 'contact_type']
First 5 rows:
    id  customer_id  rating                                 comment  \
0   1            5       9  Excellent service, very helpful staff!
1   2           12       7      Good service, but could be faster.
2   3            3      10        Absolutely fantastic experience!
3   4           25       8     Satisfied overall, would recommend.
4   5           19       6      Service was okay, nothing special.
5   6           34      10    Outstanding service, very impressed!

  segment_name  discount                                       contact_type
0          New         2  Email, Phone, SMS, Social Media, Push Notifica...
1          New         2                           Phone, SMS, Social Media
2      Regular         3                     Email, Phone, In-App Messaging
3          New         2                   Email, Phone, Push Notifications
4          New         2                                       Email, Phone
5          New         2            Phone, Social Media, Push Notifications

In [221]:
splitted_dataframes['product_feedback'].drop('id', axis=1, inplace=True)

purchase = frames_merge(splitted_dataframes, 'purchase', 'product_feedback', 'id', 'purchase_id', 'purchase')

show_frames(splitted_dataframes,samples=20)

DataFrame: customer
Columns: ['id', 'name', 'email', 'registration_date', 'location_name']
First 5 rows:
     id     name                email registration_date  location_name
0    1    Alice    alice@example.com        2023-01-15       New York
1    2      Bob      bob@example.com        2023-02-20  San Francisco
2    3  Charlie  charlie@example.com        2023-03-10    Los Angeles
3    4    David    david@example.com        2023-04-25        Chicago
4    5      Eva      eva@example.com        2023-05-30        Houston
5    6    Frank    frank@example.com        2023-06-01          Miami
6    7    Grace    grace@example.com        2023-06-15        Seattle
7    8    Henry    henry@example.com        2023-06-30         Boston
8    9      Ivy      ivy@example.com        2023-07-10        Atlanta
9   10     Jack     jack@example.com        2023-07-25         Denver
10  11      Kim      kim@example.com        2023-08-05       New York
11  12     Liam     liam@example.com        2023-08-15  San Francisco
12  13      Mia      mia@example.com        2023-08-25    Los Angeles
13  14     Noah     noah@example.com        2023-09-05        Chicago
14  15   Olivia   olivia@example.com        2023-09-15        Houston
15  16     Paul     paul@example.com        2023-09-20          Miami
16  17    Quinn    quinn@example.com        2023-09-30        Seattle
17  18     Ryan     ryan@example.com        2023-10-05         Boston
18  19    Sarah    sarah@example.com        2023-10-10        Atlanta
19  20      Tom      tom@example.com        2023-10-15         Denver

DataFrame: service_feedback
Columns: ['id', 'customer_id', 'rating', 'comment', 'segment_name', 'discount', 'contact_type']
First 5 rows:
     id  customer_id  rating                                     comment  \
0    1            5       9      Excellent service, very helpful staff!
1    2           12       7          Good service, but could be faster.
2    3            3      10            Absolutely fantastic experience!
3    4           25       8         Satisfied overall, would recommend.
4    5           19       6          Service was okay, nothing special.
5    6           34      10        Outstanding service, very impressed!
6    7            2       5             Disappointed, had a few issues.
7    8           17       9     Very pleased with the customer support.
8    9            8       8     Good service, happy with my experience.
9   10           50      10            Best service I've ever received!
10  11           29       6              Just average, could be better.
11  12            1       7  Satisfactory service, nothing exceptional.
12  13           35      10         Incredible service, will come back!
13  14           24       9            Very helpful and friendly staff!
14  15           43       5            Not great, had several problems.
15  16           10       8   Good overall experience, would recommend.
16  17           11       6             Average service, expected more.
17  18           36      10           Highly recommend, very satisfied!
18  19            4       7             Decent service, but a bit slow.
19  20           20       9  Really impressed with the attention given!

   segment_name  discount                                       contact_type
0           New         2  Email, Phone, SMS, Social Media, Push Notifica...
1           New         2                           Phone, SMS, Social Media
2       Regular         3                     Email, Phone, In-App Messaging
3           New         2                   Email, Phone, Push Notifications
4           New         2                                       Email, Phone
5           New         2            Phone, Social Media, Push Notifications
6         Loyal         4                          Phone, Push Notifications
7       Regular         3              Phone, Social Media, In-App Messaging
8           New         2            Email, Push Notifications, Social Media
9       Regular         3              Email, Phone, SMS, Push Notifications
10          VIP         5                     Phone, SMS, Push Notifications
11      Regular         3                           Email, SMS, Social Media
12          New         2                                       Email, Phone
13          New         2                                                SMS
14          New         2            Email, Social Media, Push Notifications
15          New         2                                Email, Social Media
16        Loyal         4                                       Email, Phone
17          VIP         5              Email, Social Media, In-App Messaging
18          New         2                                                SMS
19      Regular         3  SMS, Social Media, Push Notifications, In-App ...

DataFrame: purchase
Columns: ['id', 'user_id', 'purchase_date', 'quantity', 'product_name', 'category_name', 'price', 'rating', 'review']
First 5 rows:
            id  user_id purchase_date  quantity  \
0   293813371       19    2024-02-09         2
1   696524227       49    2023-06-30         1
2    14417739       30    2023-09-28         1
3   539614646       45    2023-04-25         2
4   691165168       40    2023-10-26         2
5   633302470        8    2023-09-15         1
6   727560573        9    2023-08-30         2
7   683861597       47    2024-01-11         2
8     9627136        2    2024-01-19         2
9   227811136       22    2023-11-02         2
10  536015025       25    2023-10-06         1
11  386075240       47    2023-08-09         1
12  203222787        5    2023-09-14         1
13  276743573       25    2024-01-28         2
14  155974278        5    2023-12-27         1
15  356801462       46    2023-09-07         1
16  350589884       38    2023-09-28         1
17   67118060       16    2023-10-27         2
18  438824054       39    2023-06-24         2
19  291381826       39    2023-11-25         1

                             product_name category_name  price  rating  \
0                            Finding Nemo        Movies   9.99     9.0
1                           Borderlands 3         Games  59.99     8.0
2                            The Bell Jar         Books   9.99    10.0
3                          A Star Is Born        Movies  14.99     NaN
4   Harry Potter and the Sorcerer's Stone         Books  12.99     6.0
5                        Dead by Daylight         Games  29.99     5.0
6                                Tekken 7         Games  29.99     9.0
7                       The Little Prince         Books   7.99     NaN
8                 The Wolf of Wall Street        Movies  14.99    10.0
9                              Fight Club        Movies  12.99     NaN
10                              Jane Eyre         Books  10.99     8.0
11                     The Social Network        Movies  11.99     7.0
12                                Celeste         Games  19.99     9.0
13                             La La Land        Movies  14.99     NaN
14                      Wuthering Heights         Books   8.99     NaN
15                            Spiritfarer         Games  29.99     5.0
16                Where the Crawdads Sing         Books  12.99     NaN
17                       The Great Gatsby         Books  10.99     7.0
18                       A Beautiful Mind        Movies  14.99     9.0
19                              Chess Set         Games  29.99     6.0

                                   review
0                      Excellent service!
1        Everything was great, thank you!
2           Outstanding customer service!
3                                     NaN
4   Quality did not meet my expectations.
5                     Average experience.
6               Really loved the product!
7                                     NaN
8                Best purchase I’ve made!
9                                     NaN
10            Would recommend to friends.
11    Fast shipping, but item was flawed.
12           Satisfied with the purchase!
13                                    NaN
14                                    NaN
15         Disappointed with the product.
16                                    NaN
17               Good experience overall.
18                     Excellent quality!
19                   Not worth the money.

In [222]:
splitted_dataframes['service_feedback'].drop('id', axis=1, inplace=True)
splitted_dataframes['purchase'].drop('id', axis=1, inplace=True)
splitted_dataframes['purchase'].rename(columns = {'rating':'product_rating'}, inplace=True)
splitted_dataframes['service_feedback'].rename(columns = {'rating':'service_rating'}, inplace=True)
purchase = frames_merge(splitted_dataframes, 'purchase', 'service_feedback', 'user_id', 'customer_id', 'purchase')
show_frames(splitted_dataframes,samples=20)

DataFrame: customer
Columns: ['id', 'name', 'email', 'registration_date', 'location_name']
First 5 rows:
     id     name                email registration_date  location_name
0    1    Alice    alice@example.com        2023-01-15       New York
1    2      Bob      bob@example.com        2023-02-20  San Francisco
2    3  Charlie  charlie@example.com        2023-03-10    Los Angeles
3    4    David    david@example.com        2023-04-25        Chicago
4    5      Eva      eva@example.com        2023-05-30        Houston
5    6    Frank    frank@example.com        2023-06-01          Miami
6    7    Grace    grace@example.com        2023-06-15        Seattle
7    8    Henry    henry@example.com        2023-06-30         Boston
8    9      Ivy      ivy@example.com        2023-07-10        Atlanta
9   10     Jack     jack@example.com        2023-07-25         Denver
10  11      Kim      kim@example.com        2023-08-05       New York
11  12     Liam     liam@example.com        2023-08-15  San Francisco
12  13      Mia      mia@example.com        2023-08-25    Los Angeles
13  14     Noah     noah@example.com        2023-09-05        Chicago
14  15   Olivia   olivia@example.com        2023-09-15        Houston
15  16     Paul     paul@example.com        2023-09-20          Miami
16  17    Quinn    quinn@example.com        2023-09-30        Seattle
17  18     Ryan     ryan@example.com        2023-10-05         Boston
18  19    Sarah    sarah@example.com        2023-10-10        Atlanta
19  20      Tom      tom@example.com        2023-10-15         Denver

DataFrame: purchase
Columns: ['user_id', 'purchase_date', 'quantity', 'product_name', 'category_name', 'price', 'product_rating', 'review', 'service_rating', 'comment', 'segment_name', 'discount', 'contact_type']
First 5 rows:
     user_id purchase_date  quantity                           product_name  \
0        19    2024-02-09         2                           Finding Nemo
1        49    2023-06-30         1                          Borderlands 3
2        30    2023-09-28         1                           The Bell Jar
3        45    2023-04-25         2                         A Star Is Born
4        40    2023-10-26         2  Harry Potter and the Sorcerer's Stone
5         8    2023-09-15         1                       Dead by Daylight
6         9    2023-08-30         2                               Tekken 7
7        47    2024-01-11         2                      The Little Prince
8         2    2024-01-19         2                The Wolf of Wall Street
9        22    2023-11-02         2                             Fight Club
10       25    2023-10-06         1                              Jane Eyre
11       47    2023-08-09         1                     The Social Network
12        5    2023-09-14         1                                Celeste
13       25    2024-01-28         2                             La La Land
14        5    2023-12-27         1                      Wuthering Heights
15       46    2023-09-07         1                            Spiritfarer
16       38    2023-09-28         1                Where the Crawdads Sing
17       16    2023-10-27         2                       The Great Gatsby
18       39    2023-06-24         2                       A Beautiful Mind
19       39    2023-11-25         1                              Chess Set

   category_name  price  product_rating  \
0         Movies   9.99             9.0
1          Games  59.99             8.0
2          Books   9.99            10.0
3         Movies  14.99             NaN
4          Books  12.99             6.0
5          Games  29.99             5.0
6          Games  29.99             9.0
7          Books   7.99             NaN
8         Movies  14.99            10.0
9         Movies  12.99             NaN
10         Books  10.99             8.0
11        Movies  11.99             7.0
12         Games  19.99             9.0
13        Movies  14.99             NaN
14         Books   8.99             NaN
15         Games  29.99             5.0
16         Books  12.99             NaN
17         Books  10.99             7.0
18        Movies  14.99             9.0
19         Games  29.99             6.0

                                   review  service_rating  \
0                      Excellent service!             6.0
1        Everything was great, thank you!             NaN
2           Outstanding customer service!             9.0
3                                     NaN             NaN
4   Quality did not meet my expectations.             NaN
5                     Average experience.             8.0
6               Really loved the product!             6.0
7                                     NaN             NaN
8                Best purchase I’ve made!             5.0
9                                     NaN             5.0
10            Would recommend to friends.             8.0
11    Fast shipping, but item was flawed.             NaN
12           Satisfied with the purchase!             9.0
13                                    NaN             8.0
14                                    NaN             9.0
15         Disappointed with the product.             NaN
16                                    NaN             NaN
17               Good experience overall.             NaN
18                     Excellent quality!             NaN
19                   Not worth the money.             NaN

                                        comment segment_name  discount  \
0            Service was okay, nothing special.          New       2.0
1                                           NaN          NaN       NaN
2          Very reliable and efficient service.        Loyal       4.0
3                                           NaN          NaN       NaN
4                                           NaN          NaN       NaN
5       Good service, happy with my experience.          New       2.0
6   Service was just okay, nothing outstanding.          New       2.0
7                                           NaN          NaN       NaN
8               Disappointed, had a few issues.        Loyal       4.0
9             Disappointing experience overall.          New       2.0
10          Satisfied overall, would recommend.          New       2.0
11                                          NaN          NaN       NaN
12       Excellent service, very helpful staff!          New       2.0
13          Satisfied overall, would recommend.          New       2.0
14       Excellent service, very helpful staff!          New       2.0
15                                          NaN          NaN       NaN
16                                          NaN          NaN       NaN
17                                          NaN          NaN       NaN
18                                          NaN          NaN       NaN
19                                          NaN          NaN       NaN

                                         contact_type
0                                        Email, Phone
1                                                 NaN
2                             Email, In-App Messaging
3                                                 NaN
4                                                 NaN
5             Email, Push Notifications, Social Media
6                        Phone, SMS, In-App Messaging
7                                                 NaN
8                           Phone, Push Notifications
9                                          Phone, SMS
10                   Email, Phone, Push Notifications
11                                                NaN
12  Email, Phone, SMS, Social Media, Push Notifica...
13                   Email, Phone, Push Notifications
14  Email, Phone, SMS, Social Media, Push Notifica...
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

In [223]:
customer = pd.merge(
    splitted_dataframes['customer'],
    splitted_dataframes['purchase'],
    left_on='id',         # колонка в customer
    right_on='user_id',  # колонка в purchase
    how='left',          # тип объединения
    suffixes=('_1', '_2')  # суффиксы для дублирующихся колонок
)
customer.drop('user_id',axis=1, inplace=True);
customer.head(40)
new_splt = {}
new_splt['customer'] = customer
show_frames(new_splt,samples=30)

DataFrame: customer
Columns: ['id', 'name', 'email', 'registration_date', 'location_name', 'purchase_date', 'quantity', 'product_name', 'category_name', 'price', 'product_rating', 'review', 'service_rating', 'comment', 'segment_name', 'discount', 'contact_type']
First 5 rows:
     id     name                email registration_date  location_name  \
0    1    Alice    alice@example.com        2023-01-15       New York
1    1    Alice    alice@example.com        2023-01-15       New York
2    1    Alice    alice@example.com        2023-01-15       New York
3    1    Alice    alice@example.com        2023-01-15       New York
4    1    Alice    alice@example.com        2023-01-15       New York
5    1    Alice    alice@example.com        2023-01-15       New York
6    1    Alice    alice@example.com        2023-01-15       New York
7    1    Alice    alice@example.com        2023-01-15       New York
8    1    Alice    alice@example.com        2023-01-15       New York
9    1    Alice    alice@example.com        2023-01-15       New York
10   1    Alice    alice@example.com        2023-01-15       New York
11   2      Bob      bob@example.com        2023-02-20  San Francisco
12   2      Bob      bob@example.com        2023-02-20  San Francisco
13   2      Bob      bob@example.com        2023-02-20  San Francisco
14   2      Bob      bob@example.com        2023-02-20  San Francisco
15   2      Bob      bob@example.com        2023-02-20  San Francisco
16   2      Bob      bob@example.com        2023-02-20  San Francisco
17   2      Bob      bob@example.com        2023-02-20  San Francisco
18   2      Bob      bob@example.com        2023-02-20  San Francisco
19   2      Bob      bob@example.com        2023-02-20  San Francisco
20   2      Bob      bob@example.com        2023-02-20  San Francisco
21   3  Charlie  charlie@example.com        2023-03-10    Los Angeles
22   3  Charlie  charlie@example.com        2023-03-10    Los Angeles
23   3  Charlie  charlie@example.com        2023-03-10    Los Angeles
24   3  Charlie  charlie@example.com        2023-03-10    Los Angeles
25   3  Charlie  charlie@example.com        2023-03-10    Los Angeles
26   3  Charlie  charlie@example.com        2023-03-10    Los Angeles
27   3  Charlie  charlie@example.com        2023-03-10    Los Angeles
28   3  Charlie  charlie@example.com        2023-03-10    Los Angeles
29   3  Charlie  charlie@example.com        2023-03-10    Los Angeles

   purchase_date  quantity                     product_name category_name  \
0     2024-01-28       1.0                          Journey         Games
1     2024-01-22       1.0                     Call of Duty         Games
2     2024-01-12       1.0                   The Art of War         Books
3     2024-01-20       1.0                       Life of Pi         Books
4     2023-09-11       2.0         The Shawshank Redemption        Movies
5     2024-02-08       2.0    Animal Crossing: New Horizons         Games
6     2024-02-04       2.0    Animal Crossing: New Horizons         Games
7     2023-07-13       1.0                   Gears of War 5         Games
8     2023-11-04       1.0                       Splatoon 2         Games
9     2024-01-18       2.0                   Cyberpunk 2077         Games
10    2023-12-16       2.0           The Fault in Our Stars         Books
11    2024-01-19       2.0          The Wolf of Wall Street        Movies
12    2024-02-08       2.0                  Resident Evil 3         Games
13    2023-09-04       1.0                    Jurassic Park        Movies
14    2023-12-02       2.0                         Zootopia        Movies
15    2023-08-26       2.0                             Halo         Games
16    2024-01-03       1.0                A Wrinkle in Time         Books
17    2023-09-04       2.0                  The Kite Runner         Books
18    2024-01-30       1.0                A Game of Thrones         Books
19    2024-01-29       2.0                   A Star Is Born        Movies
20    2023-09-27       1.0    Animal Crossing: New Horizons         Games
21    2023-10-27       2.0               The Shape of Water        Movies
22    2023-07-08       1.0                           Avatar        Movies
23    2023-12-11       1.0                             Coco        Movies
24    2023-08-23       2.0             Crime and Punishment         Books
25    2024-02-17       2.0  The Girl with the Dragon Tattoo         Books
26    2023-12-06       1.0                          FIFA 21         Games
27    2023-06-15       1.0         The Silence of the Lambs        Movies
28    2023-12-15       2.0                  The Dark Knight        Movies
29    2023-12-17       2.0             Anne of Green Gables         Books

    price  product_rating                            review  service_rating  \
0   14.99             5.0   Quality is lower than expected.             7.0
1   59.99             8.0         Very happy with my order!             7.0
2    7.99             9.0        Great quality and service!             7.0
3   10.99            10.0                Love this product!             7.0
4   14.99             6.0                Quality is subpar.             7.0
5   49.99             NaN                               NaN             7.0
6   49.99            10.0    Fantastic quality and service!             7.0
7   39.99             NaN                               NaN             7.0
8   59.99             NaN                               NaN             7.0
9   59.99             NaN                               NaN             7.0
10   9.99             NaN                               NaN             7.0
11  14.99            10.0          Best purchase I’ve made!             5.0
12  39.99             7.0          Good experience overall.             5.0
13  12.99             9.0         Great experience overall.             5.0
14  12.99             NaN                               NaN             5.0
15  59.99             9.0        Great service and quality!             5.0
16   9.49             7.0       Good, but had a few issues.             5.0
17  12.49             8.0   Satisfactory but could improve.             5.0
18  14.99            10.0                 Highly recommend!             5.0
19  14.99             5.0               Average experience.             5.0
20  49.99             NaN                               NaN             5.0
21  14.99             NaN                               NaN            10.0
22  19.99             7.0    Just okay, not worth the hype.            10.0
23  12.99             9.0  Great product, highly recommend!            10.0
24  15.99            10.0            Highly recommend this!            10.0
25  10.99             9.0         Great overall experience!            10.0
26  59.99             NaN                               NaN            10.0
27  12.99             NaN                               NaN            10.0
28  14.99             NaN                               NaN            10.0
29   8.99             NaN                               NaN            10.0

                                       comment segment_name  discount  \
0   Satisfactory service, nothing exceptional.      Regular       3.0
1   Satisfactory service, nothing exceptional.      Regular       3.0
2   Satisfactory service, nothing exceptional.      Regular       3.0
3   Satisfactory service, nothing exceptional.      Regular       3.0
4   Satisfactory service, nothing exceptional.      Regular       3.0
5   Satisfactory service, nothing exceptional.      Regular       3.0
6   Satisfactory service, nothing exceptional.      Regular       3.0
7   Satisfactory service, nothing exceptional.      Regular       3.0
8   Satisfactory service, nothing exceptional.      Regular       3.0
9   Satisfactory service, nothing exceptional.      Regular       3.0
10  Satisfactory service, nothing exceptional.      Regular       3.0
11             Disappointed, had a few issues.        Loyal       4.0
12             Disappointed, had a few issues.        Loyal       4.0
13             Disappointed, had a few issues.        Loyal       4.0
14             Disappointed, had a few issues.        Loyal       4.0
15             Disappointed, had a few issues.        Loyal       4.0
16             Disappointed, had a few issues.        Loyal       4.0
17             Disappointed, had a few issues.        Loyal       4.0
18             Disappointed, had a few issues.        Loyal       4.0
19             Disappointed, had a few issues.        Loyal       4.0
20             Disappointed, had a few issues.        Loyal       4.0
21            Absolutely fantastic experience!      Regular       3.0
22            Absolutely fantastic experience!      Regular       3.0
23            Absolutely fantastic experience!      Regular       3.0
24            Absolutely fantastic experience!      Regular       3.0
25            Absolutely fantastic experience!      Regular       3.0
26            Absolutely fantastic experience!      Regular       3.0
27            Absolutely fantastic experience!      Regular       3.0
28            Absolutely fantastic experience!      Regular       3.0
29            Absolutely fantastic experience!      Regular       3.0

                      contact_type
0         Email, SMS, Social Media
1         Email, SMS, Social Media
2         Email, SMS, Social Media
3         Email, SMS, Social Media
4         Email, SMS, Social Media
5         Email, SMS, Social Media
6         Email, SMS, Social Media
7         Email, SMS, Social Media
8         Email, SMS, Social Media
9         Email, SMS, Social Media
10        Email, SMS, Social Media
11       Phone, Push Notifications
12       Phone, Push Notifications
13       Phone, Push Notifications
14       Phone, Push Notifications
15       Phone, Push Notifications
16       Phone, Push Notifications
17       Phone, Push Notifications
18       Phone, Push Notifications
19       Phone, Push Notifications
20       Phone, Push Notifications
21  Email, Phone, In-App Messaging
22  Email, Phone, In-App Messaging
23  Email, Phone, In-App Messaging
24  Email, Phone, In-App Messaging
25  Email, Phone, In-App Messaging
26  Email, Phone, In-App Messaging
27  Email, Phone, In-App Messaging
28  Email, Phone, In-App Messaging
29  Email, Phone, In-App Messaging

In [224]:
customer.groupby('id').size()

id
1     11
2     10
3     10
4     14
5      9
6      7
7      7
8     13
9     15
10    10
11    11
12     5
13     7
14    15
15     7
16    11
17    15
18    10
19    14
20     4
21    10
22    10
23     6
24    12
25    11
26    15
27     9
28    15
29     8
30     7
31    13
32    10
33     3
34    10
35    12
36     7
37     7
38    13
39     8
40    15
41     7
42    12
43    10
44     4
45    16
46    11
47    14
48    11
49     9
50     1
dtype: int64

In [231]:
customer.groupby('id')['price'].head()

0      14.99
1      59.99
2       7.99
3      10.99
4      14.99
       ...
492    59.99
493    12.49
494    14.99
495    59.99
500      NaN
Name: price, Length: 242, dtype: object

In [243]:
customer['price'] = pd.to_numeric(customer['price'], errors='coerce')
customer['quantity'] = pd.to_numeric(customer['quantity'], errors='coerce')
spent_per_customer = (customer['price'] * customer['quantity']  * (1 - customer['discount']/100)).groupby(customer['id']).sum()
spent_per_customer.head(10)

id
1     546.9248
2     382.4064
3     240.4145
4     352.0846
5     161.6118
6       0.0000
7       0.0000
8     424.6536
9     330.5442
10    262.4930
dtype: float64

### AVG pr RATING + HIGHEST pr RATING + THE MOST TIMES RATED

In [246]:
customer['product_rating'] = pd.to_numeric(customer['product_rating'], errors='coerce')
average_rating_by_product = customer.groupby('product_name')['product_rating'].mean()
rating_stats = customer.groupby('product_name').agg({
    'product_rating': ['mean', 'count']
}).round(2)
rating_stats_sorted = rating_stats.sort_values(('product_rating', 'mean'), ascending=False)
print(rating_stats_sorted)
rating_stats_sorted = rating_stats.sort_values(('product_rating', 'count'), ascending=False)
print(rating_stats_sorted)

                           product_rating
                                     mean count
product_name
Final Fantasy VII Remake             10.0     1
Mario Kart 8 Deluxe                  10.0     1
The Catcher in the Rye               10.0     2
The Silence of the Lambs             10.0     1
Toy Story                            10.0     1
...                                   ...   ...
The Picture of Dorian Gray            NaN     0
The Shape of Water                    NaN     0
To Kill a Mockingbird                 NaN     0
War and Peace                         NaN     0
Wuthering Heights                     NaN     0

[144 rows x 2 columns]
                      product_rating
                                mean count
product_name
The Road                        7.60     5
A Star Is Born                  6.50     4
The Kite Runner                 8.75     4
Splatoon 2                      5.50     4
Educated                        8.00     4
...                              ...   ...
The Matrix                       NaN     0
The Shape of Water               NaN     0
To Kill a Mockingbird            NaN     0
War and Peace                    NaN     0
Wuthering Heights                NaN     0

[144 rows x 2 columns]

### POPULAR pr TYPE

In [251]:
customer['category_name'].value_counts()

category_name
Games     181
Books     173
Movies    146
Name: count, dtype: int64

In [261]:
def calculate_user_category_ratios(customer_df):
    # Считаем траты для каждого пользователя по категориям
    user_category_spending = customer_df.groupby(['id', 'category_name']).apply(
        lambda x: (x['price'] * x['quantity']).sum()
    ).unstack(fill_value=0)
    
    # Считаем общие траты каждого пользователя
    user_total_spending = user_category_spending.sum(axis=1)
    
    # Считаем долю трат по категориям для каждого пользователя
    user_category_ratios = user_category_spending.div(user_total_spending, axis=0) * 100

    result = user_category_ratios.fillna(0)
    
    return result.round(2)

# Применяем функцию
user_category_ratios = calculate_user_category_ratios(customer)
print("\nДоля трат по категориям для каждого пользователя (%):")
print(user_category_ratios.head(10))
user_category_ratios.sum(axis=1)

Доля трат по категориям для каждого пользователя (%):
category_name  Books  Games  Movies
id
1               6.91  87.77    5.32
2              12.42  62.75   24.84
3              33.06  24.20   42.74
4              22.11  45.63   32.27
5              33.32  57.59    9.09
6               2.82  94.05    3.13
7              30.24  18.52   51.24
8              23.17  66.91    9.92
9              24.74  26.67   48.59
10             38.42  50.38   11.19

C:\Users\Илья\AppData\Local\Temp\ipykernel_28600\1043820562.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  user_category_spending = customer_df.groupby(['id', 'category_name']).apply(

id
1     100.00
2     100.01
3     100.00
4     100.01
5     100.00
6     100.00
7     100.00
8     100.00
9     100.00
10     99.99
11    100.01
12    100.00
13    100.00
14     99.99
15    100.00
16    100.01
17    100.00
18     99.99
19     99.99
20    100.00
21    100.00
22    100.00
23    100.00
24    100.00
25    100.00
26    100.00
27    100.00
28    100.00
29    100.01
30    100.01
31     99.99
32    100.00
33    100.00
34    100.00
35    100.00
36    100.00
37    100.00
38    100.00
39     99.99
40    100.00
41    100.00
42    100.00
43    100.00
44    100.00
45    100.00
46    100.00
47    100.00
48    100.00
49    100.00
dtype: float64